{% extends "MAIN_IMPLEMENTATION/base.html" %} 
{% load static %} 
{% block body %}
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="{% static " MAIN_IMPLEMENTATION/img/logo.png" %}" alt="">
      <span class="d-none d-lg-block">ChatBot</span>
    </a>
    <i class="fa-solid fa-bars"></i>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>
  <!-- End Logo -->


  <!-- End Search Bar -->


  <!-- End Icons Navigation -->
</header>
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="{% url 'dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'manage_docs' %}">
        <i class="bi bi-grid"></i>
        <span>Manage Docs</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'manage_users' %}">
        <i class="bi bi-grid"></i>
        <span>Manage Users</span>
      </a>
    </li>
    
    <!-- temp start -->
    {% comment %} <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'sign_in' %}">
        <i class="bi bi-grid"></i>
        <span>Sign In Page</span>
      </a>
    </li> {% endcomment %}
    <!-- temp -->
  </ul>
</aside>
<main id="main" class="main">
  <section class="section">

    <div class="row">
      {% block content %}
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-center">Number of users: <br>{{ username_count }}</div>
          </div>
        </div>
      </div>
      {% endblock %}

      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-center">Number of Documents</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-center">Api key in use</div>
          </div>
        </div>
      </div>
    </div>

    </div>


</main>
{% endblock body %}